.navbar-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 13px;
    position: fixed;
    bottom: 0;
    width: 640px;
    height: 60px;
    background-color: var(--cor-primaria);
}

.nav-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--cor-secundaria);
}

.menu-ham{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 30px;
    color: var(--cor-secundaria);
}