.navbar-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 12%;
    position: fixed;
    bottom: 0;
    width:440px;
    height: 60px;
    border-top: 1px solid #b4b4b4;
}

.nav-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #5a5959;
    padding-bottom: 15px;
}

.nav-icon:hover{
    border-top: 2px solid blue;
}

.menu-ham{
    position: fixed;
    bottom: 16px;
    right: 10px;
    height: 30px;
    color: #fff;
}

