*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    padding: 0;
    max-width: 640px;
    margin: 0 auto;
    border: 1px solid black;
    height: 100vh;
  }

 a{
    text-decoration: none;
  }


  